@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Тренировочные тесты</h1>
</div>
<pre>


<h5>Выберите раздел "Список тестов", чтобы перейти к списку тестов по русскому языку.</h5>
</pre>
