@{
    ViewData["Title"] = "Главная";
}
<div class="row">
    <div class="col-lg-12">
    <p>
        <img src="~/images/background.jpg" width="1200" height="350" alt="фон">
    </p>
    </div>
</div>
<div class="text-center">
    <h1 class="display-4">Тренировочные тесты</h1>
</div>


<h5>Выберите раздел "Список тестов", чтобы перейти к списку тестов по русскому языку.</h5>

